body { margin: 2rem; font-family: sans-serif; }
@media (prefers-color-scheme: light) {
    a, a:visited { color: blue; }
    a:hover { background-color: yellow; }
}
@media (prefers-color-scheme: dark) {
    body { background-color: #121212; color: #f5f5f5; }
    a, a:visited { color: skyblue; }
    a:hover { color: white; }
}
ul, li { list-style-type: none; }
.d { font-size: 20px; font-weight: bold; }
.f { font-size: 18px; }
.i { padding-right: 10%; }
.q { width: 100%; font-size: 20px; padding: 12px 20px; margin: 8px 0; box-sizing: border-box; }

.container { display: flex; flex-wrap: wrap; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { box-sizing: border-box; }
.col-1 { flex: 0 0 8.33%; max-width: 8.33%; }
.col-2 { flex: 0 0 16.67%; max-width: 16.67%; }
.col-3 {flex: 0 0 25%; max-width: 25%; }
.col-4 {flex: 0 0 33.33%; max-width: 33.33%; }
.col-5 {flex: 0 0 41.67%; max-width: 41.67%; }
.col-6 {flex: 0 0 50%; max-width: 50%; }
.col-7 {flex: 0 0 58.33%; max-width: 58.33%; }
.col-8 {flex: 0 0 66.67%; max-width: 66.67%; }
.col-9 {flex: 0 0 75%; max-width: 75%; }
.col-10 {flex: 0 0 83.33%; max-width: 83.33%; }
.col-11 {flex: 0 0 91.67%; max-width: 91.67%; }
.col-12 {flex: 0 0 100%; max-width: 100%; }

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { box-sizing: border-box; }
    .col-lg-1 { flex: 0 0 8.33%; max-width: 8.33%; }
    .col-lg-2 { flex: 0 0 16.67%; max-width: 16.67%; }
    .col-lg-3 {flex: 0 0 25%; max-width: 25%; }
    .col-lg-4 {flex: 0 0 33.33%; max-width: 33.33%; }
    .col-lg-5 {flex: 0 0 41.67%; max-width: 41.67%; }
    .col-lg-6 {flex: 0 0 50%; max-width: 50%; }
    .col-lg-7 {flex: 0 0 58.33%; max-width: 58.33%; }
    .col-lg-8 {flex: 0 0 66.67%; max-width: 66.67%; }
    .col-lg-9 {flex: 0 0 75%; max-width: 75%; }
    .col-lg-10 {flex: 0 0 83.33%; max-width: 83.33%; }
    .col-lg-11 {flex: 0 0 91.67%; max-width: 91.67%; }
    .col-lg-12 {flex: 0 0 100%; max-width: 100%; }
}

@media (min-width: 1200px) {
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 { box-sizing: border-box; }
    .col-xl-1 { flex: 0 0 8.33%; max-width: 8.33%; }
    .col-xl-2 { flex: 0 0 16.67%; max-width: 16.67%; }
    .col-xl-3 {flex: 0 0 25%; max-width: 25%; }
    .col-xl-4 {flex: 0 0 33.33%; max-width: 33.33%; }
    .col-xl-5 {flex: 0 0 41.67%; max-width: 41.67%; }
    .col-xl-6 {flex: 0 0 50%; max-width: 50%; }
    .col-xl-7 {flex: 0 0 58.33%; max-width: 58.33%; }
    .col-xl-8 {flex: 0 0 66.67%; max-width: 66.67%; }
    .col-xl-9 {flex: 0 0 75%; max-width: 75%; }
    .col-xl-10 {flex: 0 0 83.33%; max-width: 83.33%; }
    .col-xl-11 {flex: 0 0 91.67%; max-width: 91.67%; }
    .col-xl-12 {flex: 0 0 100%; max-width: 100%; }
}